.clientCell_container {
    -fx-background-radius: 10;
    -fx-font-family: "Cascadia Code";
    /*-fx-effect: dropshadow(three-pass-box, #cacaca, 5, 0, 0, 6);*/
    -fx-background-color: linear-gradient(to right, #2f2e2e, #543428);

}

.info_icon {
    -fx-fill: #FFFFFF;
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
}
.info_icon:hover {
    -fx-cursor: hand;
}

.info_container {
    -fx-background-color: #cacaca;
    -fx-background-radius: 10;
}

.fullName {
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #5e3812;
}
.payeeAddress {
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #4d650c;
}
.checking_lbl {
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #73736b;
}
.saving_lbl {
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #305d5d;
}



