.dashboard {
    /*-fx-background-color: rgb(255, 255, 255);*/
    /*-fx-background-color: linear-gradient(to right, #3b3b3d, #1f1e1e);*/
    /*-fx-text-fill: #FFFFFF;*/
}
.center_dashboard {
    -fx-background-color: linear-gradient(to right, #17191c, #1f1e1e);
}

.center_dashboard Label {
    -fx-text-fill: #FFFFFF;
}

.section_title {
    -fx-font-size: 1.4em;
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #AAAAAA;
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.2em;
    -fx-font-family: "Cascadia Code";
}

/* Account View {Account Cards} */

.account_view {
    /*-fx-background-color: #FFFFFF;*/
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #DDDDDD;
    -fx-padding: 10 0 10 0;
    -fx-border-width: 0 1 0 0;
    -fx-spacing: 30;
    -fx-alignment: center;
}

.account {
    -fx-pref-width: 330;
    -fx-pref-height: 180;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #58585b, 10, 0, 0, 10);
}

.account:hover {
    -fx-cursor: hand;
}
.account_gradient {
    -fx-background-color: linear-gradient(to right, #fb9719, #f77319);
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

.account_logo {
    -fx-font-family: Mexon;
    -fx-font-size: 1.4em;
    -fx-text-fill: #333333;
}

.account_fullName{
    -fx-text-fill: #000;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.3em;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.4em;
    -fx-text-alignment: center;
}

.account_date {
    -fx-font-size: 1.2em;
    -fx-fill: #FFFFFF;
    -fx-font-family: "Cascadia Code";
}


.income_account {
    -fx-text-fill: #00AA00;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.4em;
}
.expenses_account {
    -fx-text-fill: #AA0000;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.4em;
}


.center_dashboard .list-view{
    -fx-padding: 0 10 0 10;
    -fx-background-color: linear-gradient(to right, #1c1b1c, #30241f) ;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #656565;

}

.center_dashboard .list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.center_dashboard .list-cell {
    -fx-background-color: linear-gradient(to right, #1c1b1c, #30241f);
    /*-fx-pref-width: 800;*/
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #c86400;
    -fx-padding: 10 0 10 0;
    -fx-background-radius: 10;
    /*-fx-spacing: 15;*/

}


/* Right Dashboard */


.right_dashboard {
    -fx-background-color: linear-gradient(to right, #1e1e1e, #1f1e1e);
}

.right_dashboard Text{
    /*-fx-fill: #FFFFFF;*/
    -fx-fill: #7c7c7c;
}


.right_dashboard Label{
    -fx-text-fill: #FFFFFF;
}

.right_section_title {
    -fx-font-size: 1.3em;
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #AAAAAA;
}

.small_card {
    -fx-background-color: linear-gradient(to right, #1c1b1c, #30241f);
    -fx-background-radius: 15;
    -fx-border-color: #b45202;
    -fx-border-radius: 15;
    -fx-border-width: 2;
}
.small_card Label {
    -fx-font-family: "Cascadia Code";
}

.small_card FontAwesomeIconView {
    -fx-fill: #FFFfFF;
}

.right_card_amount {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.4em;
    -fx-text-alignment: center;
}
.right_card_debt {
    -fx-text-fill: #AA0000;
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.4em;
    -fx-text-alignment: center;
}


.card_info {
    -fx-background-color: linear-gradient(to right, #1c1b1c, #30241f);
    -fx-background-radius: 15;
    -fx-border-color: #3f3f40;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-spacing: 15;
}

.card_info Text {
    -fx-fill: #7c7c7c;
}

.card_info Label {
    -fx-font-family: "Cascadia Code";
}
.slogan {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1em;
    -fx-fill: #4d674d;
    -fx-text-alignment: center;
}